<h1>Client: $client.getName()</h1>

<h3><a href="/stylists/$client.getStylistId()/clients/$client.getId()/edit">Edit Client</a></h3><br>
<h3><a href="/stylists/$client.getStylistId()">Back to stylists</a></h3>
