<h2>Create a new stylist</h2>

<form action="/stylists" method="post">
  <input type="text" id="name" name="name">
  <button type="submit" name="button">Create new stylist</button>
</form>

<h3><a href="/">Back Home</a></h3>
