<h1>All Stylists</h1>

<ul>
  #foreach ($stylist in $stylists)
    <li><a href="/stylists/$stylist.getId()">$stylist.getName()</a></li>
  #end
</ul>

<h3><a href="/stylists/new">Create New Stylist</a></h3>
<h3><a href="/">Back Home</a></h3>
